In [1]:
import pandas as pd

In [7]:
#loading a dataset
df = pd.read_csv(r"C:/Users/ADMIN/Downloads/archive (3)/sales_data_sample.csv", encoding='latin1')

In [9]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [13]:
df.isnull().sum() #checking missing values

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [19]:
df = df.drop_duplicates()

In [21]:
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [23]:
df = df.drop(columns=['ADDRESSLINE2'])

In [25]:
df['STATE'] = df['STATE'].fillna("Unknown")

In [27]:
df['TERRITORY'] = df['TERRITORY'].fillna("Unknown")

In [29]:
df['POSTALCODE'] = df['POSTALCODE'].fillna("Unknown")

In [31]:
df.isnull().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [35]:
df.columns = df.columns.str.lower().str.replace(" ", "_") #standarized column names

In [37]:
df.head()

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,...,phone,addressline1,city,state,postalcode,country,territory,contactlastname,contactfirstname,dealsize
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Unknown,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,Unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Unknown,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,Unknown,USA,Unknown,Brown,Julie,Medium

In [39]:
df['orderdate'] = pd.to_datetime(df['orderdate'], errors='coerce') #converting ORDERDATE to proper date format

In [41]:
#numeric_cols = ['quantityordered', 'priceeach', 'orderlinenumber', 'sales']

#for col in numeric_cols:
#    df[col] = pd.to_numeric(df[col], errors='coerce')
df['quantityordered'] = pd.to_numeric(df['quantityordered'])
df['priceeach'] = pd.to_numeric(df['priceeach'])
df['orderlinenumber'] = pd.to_numeric(df['orderlinenumber'])
df['sales'] = pd.to_numeric(df['sales'])

In [45]:
df['sales'].isnull() 

df['quantityordered'].notnull() 
 
df['priceeach'].notnull()

0       True
1       True
2       True
3       True
4       True
        ...
2818    True
2819    True
2820    True
2821    True
2822    True
Name: priceeach, Length: 2823, dtype: bool

In [49]:
mask = df['sales'].isnull() & df['quantityordered'].notnull() & df['priceeach'].notnull()
mask.sum()  #sales has no missing values

0

In [51]:
df['postalcode'] = df['postalcode'].astype(str).str.replace('.0', '', regex=False) #removes trailing 0 in postal codes

In [53]:
for col in ['status', 'country', 'dealsize', 'city']:
    if col in df.columns:
        df[col] = df[col].astype(str).str.title()  #standardize text fields

In [55]:
df.to_csv("cleaned_sales_data.csv", index=False)

print("Cleaning complete!")

Cleaning complete!

In [57]:
df.info()
df.isnull().sum()
df.duplicated().sum()    #simple check wheather my dataset is clean or not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ordernumber       2823 non-null   int64
 1   quantityordered   2823 non-null   int64
 2   priceeach         2823 non-null   float64
 3   orderlinenumber   2823 non-null   int64
 4   sales             2823 non-null   float64
 5   orderdate         2823 non-null   datetime64[ns]
 6   status            2823 non-null   object
 7   qtr_id            2823 non-null   int64
 8   month_id          2823 non-null   int64
 9   year_id           2823 non-null   int64
 10  productline       2823 non-null   object
 11  msrp              2823 non-null   int64
 12  productcode       2823 non-null   object
 13  customername      2823 non-null   object
 14  phone             2823 non-null   object
 15  addressline1      2823 non-null   object
 16  city              2823 non-null   object
 17  state             2823 non-null   object
 18  postalcode        2823 non-null   object
 19  country           2823 non-null   object
 20  territory         2823 non-null   object
 21  contactlastname   2823 non-null   object
 22  contactfirstname  2823 non-null   object
 23  dealsize          2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(7), object(14)
memory usage: 529.4+ KB

0